<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css"
        href="https://app.closeiocdn.com/dist/main~ee885715.3e17b4457dbb3e8fb02f.css">
    <link rel="stylesheet" type="text/css"
        href="https://app.closeiocdn.com/dist/hydrate_main~f5756c1f.3e17b4457dbb3e8fb02f.css">
    <style>
        /* Additional CSS for table styling */
        table {
            margin: 20px;
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>



<body>

    <div class="FilterHeader_extras_a41">
        <button role="button" type="button" class="Button Btn"><span class="Btn__icon"><svg
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                    <path fill="currentColor"
                        d="M13 8c0 .32-.257.8-.577.8H8.8v3.623c0 .318-.481.577-.8.577-.319 0-.8-.258-.8-.577V8.8H3.576C3.258 8.8 3 8.319 3 8c0-.318.258-.809.577-.809h3.622V3.577C7.2 3.258 7.681 3 8 3c.319 0 .8.258.8.577V7.19h3.623c.32 0 .577.491.577.809Z">
                    </path>
                </svg></span>
                <span class="Btn__text">New Product</span>
        </button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Cost of Goods</th>
                <th>Sale Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Product 1</td>
                <td>$10.00</td>
                <td>$15 </td>