{% load static %}
{% url 'sign_up' as sign_up_url %}
{% url 'sign_in' as sign_in_url %}

<head>
    <link href="https://assets-global.website-files.com/61717799a852418a278cfa9b/css/close-website.f0e3c8281.min.css"
        rel="stylesheet" type="text/css">
</head>


<body>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
    </div>

    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
        role="banner" class="navbar black-nav-bg w-nav">
        <div class="nav-container">
            <div class="navigation-full">
                <div class="navigation-container">
                    <div class="navigation-left"><a href="/" aria-current="page" class="brand w-nav-brand w--current"
                            aria-label="home">

                        </a></div>

                    <div class="navigation-right">

                        <a id="top-nav-try-close" href="/sign_up" class="nav-button-1-v2 w-button">Sign Up</a>
                        <a id="top-nav-see-demo" href="/sign_in" class="nav-button-2-v2 w-button">Log in</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <h1 class="heading-style-h2"> Inventory
        <span class="text-color-red"> Tracker </span>
    </h1>

    <div class="main">
        <div class="section_header-home trigger-sticky-nav">
            <div class="padding-global">
                <div class="container-large">
                    <div class="padding-section-header">
                        <div class="header-home_component">
                            <div class="header-home_content-a">
                                <h1 class="heading-style-h2">Manage your<br>Inventory with <span
                                        class="text-color-red">Ease</span>
                                </h1>
                                <div class="header-home_button-wrapper"><a href="sign_up/"
                                        class="button is-red w-button">Try It Today!</a></div>
                            </div>
                        </div>
                        <div class="header-home_trust">
                            <div class="text-align-center">
                                <div class="max-width-large align-center">
                                    <h2 class="heading-style-h7">Trusted by Nobody, YET!</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>
    </div>
</body>